<!DOCTYPE html>
<html>
<head>
    <title>Create Class</title>
    <!-- Bootstrap CSS link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'dashboard' %}">School Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!-- Add Students link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'display_class_data' %}">Class Management</a>
                </li>
                <!-- Create a Class link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'display_student_data' %}">Student Management</a>
                </li>
                <!-- Create a Class link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'display_transaction_data' %}">Transactions</a>
                </li>
                <!-- More navigation items for other functionalities -->
                <!-- ... -->
            </ul>
            <!-- Logout button -->
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'user-logout' %}">Logout</a>
            </form>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-header">
                <h1>Create Class</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <!-- Bootstrap form layout -->
                    <div class="form-group row">
                        <label for="id_name" class="col-sm-6">Name:</label>
                        
                        <div class="col-sm-6">
                        {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_age" class="col-sm-6">Class Motto:</label>
                        
                        <div class="col-sm-6">
                        {{ form.class_motto }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
